.FromCard[b-ntsosrplt5] {
    position: relative;
    margin: 5vh auto;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    width: 80%;
    border-radius: 50px;
    overflow: hidden;
}

.InputLabels[b-ntsosrplt5] {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    width: 80%;
}

.FlexHouseInputs[b-ntsosrplt5]{
    padding-top: 3%;
    display: flex;
}

.Flex1[b-ntsosrplt5]{
    width: 45%;
    margin-left: 10%;
}

.Flex2[b-ntsosrplt5] {
    width: 45%;
    margin-right: 10%;
}

.TeamNameInputs[b-ntsosrplt5]{
    padding-bottom: 1%;
}

.PushTeamButton[b-ntsosrplt5] {
    background-color: #30b0e3;
    border-width: 0.1px;
    color: white;
    width: 25%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 4%;
    display: inline-block;
    border-color: royalblue;
}

.Exstension[b-ntsosrplt5]{
    width: 100%;
    height: auto;
}

.TeamCategories[b-ntsosrplt5]{
   width: 50%;
   display: inline-block;
}

#CategoryLabel[b-ntsosrplt5]{
    display: block;
}

.FlexHouseTables[b-ntsosrplt5]{
    padding-top: 2%;
    display: flex;
    padding-bottom: 2%;
}

.Tables[b-ntsosrplt5] {
    border: solid black;
    width: 100%;
    margin-left: 10%;
}

.TableHeading[b-ntsosrplt5]{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.TableContent[b-ntsosrplt5] {
    text-align: center;
    border-bottom: 1px solid black;
}

.InnerOne[b-ntsosrplt5] {
    width: 45%;
    margin-right: 2%;
}

.InnerTwo[b-ntsosrplt5] {
    width: 45%;
}

.InnerFinal[b-ntsosrplt5]{
    width: 90%;
}

.FinalTable[b-ntsosrplt5] {
    border: solid black;
    width: 100%;
    margin-left: 6%;
}

.TableContainer[b-ntsosrplt5]{
    padding-bottom: 3%;
}