.FlexHouseInputs[b-ntsosrplt5]{
    display: flex;
    margin-left: 20%;
    margin-top: 2%;
}

.InputBoxes[b-ntsosrplt5] {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    width: 100%;
}

.Labels[b-ntsosrplt5]{
    justify-content: center;
    width: 100%;
    text-align: center;
}

.TeamNameInputs[b-ntsosrplt5] {
    padding-right: 3%;
}

.PlayerNamesInputs[b-ntsosrplt5] {
    padding-right: 3%;
}


.FlexHouseTables[b-ntsosrplt5] {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.InnerOne[b-ntsosrplt5], .InnerTwo[b-ntsosrplt5] {
    flex-basis: 45%;
}

.Tables[b-ntsosrplt5] {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
}

    .Tables th[b-ntsosrplt5] {
        font-weight: bold;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid lightgrey;
    }

    .Tables td[b-ntsosrplt5] {
        text-align: center;
        font-size: 16px;
        padding: 10px;
        border-bottom: 1px solid lightgrey;
    }

.InnerFinal[b-ntsosrplt5] {
    width: 100%;
    text-align: center;
}

    .InnerFinal .Tables[b-ntsosrplt5] {
        margin-bottom: 0;
        border: 1px solid lightgrey;
    }

        .InnerFinal .Tables th[b-ntsosrplt5] {
            font-weight: bold;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid lightgrey;
        }



.Buttons[b-ntsosrplt5] {
    display: block !important;
    margin-left: 1%;
    margin-top: 1%;
    height: 1%;
    width: 15%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .Buttons:hover[b-ntsosrplt5] {
        background-color: #3e8e41;
    }

    .Buttons:active[b-ntsosrplt5] {
        background-color: #e7e7e7;
        color: #000;
    }