.FormBody[b-f125tma3dt] {
    position: relative;
    margin: 5vh auto;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    width: 80%;
    border-radius: 50px;
}

#IndexH1[b-f125tma3dt] {
    text-align: center;
    font-weight: bold;
    text-decoration: underline #30b0e3;
    padding-top: 5vh;
}

@media only screen and (max-width: 768px) {
    .Input1[b-f125tma3dt] {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .FormBody[b-f125tma3dt] {
        width: 90%;
        left: 5%;
    }
    #SubmitTournament[b-f125tma3dt] {
        width: 90%;
        justify-content: center;
    }
}

.FlexBody[b-f125tma3dt] {
    padding-top: 3%;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .Input1[b-f125tma3dt] {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .FlexBody[b-f125tma3dt] {
        display: block;
    }
    #SubmitTournament[b-f125tma3dt] {
        width: 90%;
        justify-content: center;
    }
}

.InputLabels1[b-f125tma3dt] {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    width: 80%;
    padding-left: 25%;
}

.InputLabels2[b-f125tma3dt] {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    width: 80%;
    padding-left: 10%;
}

.TypeCombo[b-f125tma3dt] {
    width: 80%;
    margin-left: 15%;
    padding: 12.2px;
}

.DurationCombo[b-f125tma3dt] {
    width: 80%;
    margin-left: 5%;
    padding: 12.2px;
}

.DateBoxes[b-f125tma3dt]{
    border-color: lightgrey;
    border-width: 1px;
}

.Input1[b-f125tma3dt] {
    width: 80%;
    margin-left: 15%;
}

.Input2[b-f125tma3dt] {
    width: 80%;
    margin-left: 5%;
}

input[type="text"][b-f125tma3dt], input[type="datetime"][b-f125tma3dt], select[b-f125tma3dt] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.PushTournament[b-f125tma3dt] {
    background-color: #30b0e3;
    border: none;
    color: white;
    padding: 10px 16px;
    width: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 4.5%;
}

.PushCategory[b-f125tma3dt] {
    background-color: #30b0e3;
    border: none;
    color: white;
    padding: 10px 16px;
    width: 30.75%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 34.5%;
}

#CategoriesInput[b-f125tma3dt]{
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .Input1[b-f125tma3dt] {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .PushCategory[b-f125tma3dt] {
        width: 80%;
        justify-content: center;
        margin-top: 20px;
    }
    #SubmitTournament[b-f125tma3dt] {
        width: 90%;
        justify-content: center;
    }
}

.Flex1[b-f125tma3dt] {
    width: 85%;
}

.Flex2[b-f125tma3dt] {
    width: 85%;
}

@media only screen and (max-width: 768px) {
    .Input1[b-f125tma3dt] {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .Flex1[b-f125tma3dt], .Flex2[b-f125tma3dt] {
        width: 100%;
    }
    #SubmitTournament[b-f125tma3dt] {
        width: 90%;
        justify-content: center;
    }
}

.InputCategory2[b-f125tma3dt] {
    width: 85%;
    margin-left: 7.5%;
}

@media only screen and (max-width: 768px) {
    .PushCategory[b-f125tma3dt]{
        margin-top: 0;
        margin-left: 10%;
    }
    .InputLabels1[b-f125tma3dt] {
        margin-right: 5%;
    }
    #TournamentLocation[b-f125tma3dt]{
        padding-top: 8%;
    }
    .Input1[b-f125tma3dt] {
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }
    .Input2[b-f125tma3dt] {
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }
    .TypeCombo[b-f125tma3dt] {
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }
    .InputCategory2[b-f125tma3dt] {
        width: 80%;
        justify-content: center;
    }
    #SubmitTournament[b-f125tma3dt] {
        margin-top: 10%;
        width: 90%;
        justify-content: center;
    }
}

.CategoryDiv[b-f125tma3dt] {
    padding-bottom: 3%;
}

#SubmitTournament[b-f125tma3dt] {
    width: 75%;
    margin-top: 2%;
    margin-left: 12.5%;
    font-size: 20px;
}

#EndDate[b-f125tma3dt] {
    background-color: #f4f4f4;
}

#CategoriesLabel[b-f125tma3dt]{
    margin-top: 0;
    margin-left: 5%;
}

.CategoriesFlexBody[b-f125tma3dt] {
    padding-top: 3%;
    display: flex;
    margin-bottom: 3%;
}

.CategoryNameDiv1[b-f125tma3dt] {
    font-size: 18px;
    display: inline-block;
    width: 150px;
    font-weight: bold;
    position: relative;
    left: 40%;
}

.CategoryNameDiv2[b-f125tma3dt] {
    font-size: 18px;
    display: inline-block;
    width: 150px;
    font-weight: bold;
    position: relative;
    left: 40%;
}

.categoryCheckBox[b-f125tma3dt] {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #999;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 30%;
    margin-bottom: 1%;
}

    .categoryCheckBox:checked[b-f125tma3dt] {
        background-color: #2196f3;
        color: #30b0e3;
        border-color: #2196f3;
    }

.categoryInput[b-f125tma3dt] {
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 3px 5px;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
}

    .categoryInput:hover[b-f125tma3dt] {
        border-color: #2196f3;
        color: #30b0e3;
    }

    .categoryInput:focus[b-f125tma3dt] {
        color: #30b0e3;
        outline: none;
        border-color: #2196f3;
        box-shadow: 0px 0px 5px 0px #2196f3;
    }

.SelectCategoriesHeading[b-f125tma3dt] {
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    text-decoration: underline #30b0e3;
}

.CategoriesAddedHeading[b-f125tma3dt] {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline #30b0e3;
}

.CategoryNameAdded[b-f125tma3dt] {
    font-size: 20px;
    display: inline-block;
    visibility: visible;
}

.CategoryRemove[b-f125tma3dt] {
    visibility: visible;
    background-color: #30b0e3;
    border: none;
    color: white;
    padding: 2px 5px;
    width: 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 1%;
    margin-left: 2%;
}