.content[b-1lpdv3nc53] {
    background-color: #f4f4f4;
}

.container[b-1lpdv3nc53] {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    background-color: white;
}

.Loginform[b-1lpdv3nc53] {
    margin-top: 15%;
    height: 65%;
    width: 80%;
}

.LoginHeading h1[b-1lpdv3nc53] {
    font-size: 40px;
    text-align: center;
    text-decoration: underline 2px #30b0e3;
    padding-bottom: 2%;
}

label[b-1lpdv3nc53] {
    display: block;
    font-size: 16px;
    text-align: center;
    font-size: 24px;
    border-width: 1.5px;
}

input[b-1lpdv3nc53] {
    border-color: transparent;
    border-bottom-color: #30b0e3;
    border-width: 1.5px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 2%;
    padding: 1%;
    outline: none;
}

    input:focus[b-1lpdv3nc53] {
        border-bottom-color: #30b0e3;
        border-width: 1.5px;
    }

.SubmitButtons[b-1lpdv3nc53] {
    display: block;
    background-color: transparent;
    border-color: #30b0e3;
    border-width: 1px;
    margin-left: 25%;
    margin-top: 6%;
    padding: 1%;
    width: 50%;
    border-radius: 50px;
}

img[b-1lpdv3nc53] {

    padding: 0;
    height: 65%;
    width: 42%;
}