.flex-container[b-ioofccpmij] {
    background-color: #f4f4f4;
    box-shadow: 8px 0px 8px -4px lightgrey;
    height: 100%;
    width: 100%;
    margin-top: -2.848%;
}

#NavItem1[b-ioofccpmij]{
    padding-top: 5%;
}

.nav-item[b-ioofccpmij]{
    font-size: 22px;
}