@using DAL
@inject IJSRuntime JS

@{
    DatabaseProcessor dbfunctions = new DatabaseProcessor();
    List<Tournament> tournaments = dbfunctions.GetTournaments();
    int counter = 0;
    int countAccordions = 1;
    foreach (var touries in tournaments)
    {
        if (counter != 5)
        {
            <div class="accordion-body" id="Accordion-@countAccordions">
                <button class="AccordionButton" @onclick="OnClickButton" id="Button-@countAccordions">
                    <div class="AccordionContent">
                        <img />
                    </div>
                    <div class="AccordionContent">
                        <h5><span class="TourHeading"> @touries.Tournament_Location</span></h5>
                        <p>@touries.Tournament_Name</p>
                    </div>
                    @*<i class="fa-light fa-list-dropdown" id="FontAweDropdown"></i>*@
                </button>
                <div class="Panel" id="Panel-@countAccordions">
                    <div class="PanelFlex">
                        <div class="PanelContent">
                            <RosterComponent />
                        </div>
                        <div class="PanelContent">
                            <RosterComponent />
                        </div>
                    </div>
                </div>
            </div>

            //<div id="accordion-body">
            //    <div id="AccordianBodyImage">
            //        <img />
            //    </div>
            //    <button class="AccordionButton" id="AccordionButton">
            //        <div id="AccordionButtonContent">
            //            <h5 id="ABCHeading"> @touries.Tournament_Name</h5>
            //            <p id="ABCParagraph"> @touries.Tournament_Location</p>
            //        </div>
            //    </button>
            //    <button type="button" class="TourDetails" id="TourDetails"> Details</button>
            //</div>
            counter++;
            countAccordions++;
        }
        else
        {
            break;
        }
    }
}

@code {
    private async void OnClickButton()
    {
        await JS.InvokeAsync<string>("onClickButton");
    }
} 