@using DAL
@inject IJSRuntime JS

@{
    DatabaseProcessor dbfunctions = new DatabaseProcessor();
    List<Tournament> tournaments = dbfunctions.GetTournaments();
    int counter = 0;
    int countAccordions = 1;
    foreach (var touries in tournaments)
    {
        if (counter != 5)
        {
            <div class="accordion-body" id="Accordion-2">
                <input type="submit" value="Details" class="TourDetails" />
                <button class="AccordionButton" @onclick="() => OnClickButton()">
                    <div class="AccordionContent">
                        <img />
                    </div>
                    <div class="AccordionContent">
                        <h5><span class="TourHeading"> @touries.Tournament_Name</span></h5>
                        <p>@touries.Tournament_Location</p>
                    </div>
                </button>
                <div class="PanelFlex">
                    <div class="PanelContent">
                        <RosterComponent />
                    </div>
                    <div class="PanelContent">
                        <RosterComponent />
                    </div>
                </div>
            </div>
            counter++;
            countAccordions++;
        }
        else
        {
            break;
        }
    }
}

@code {
    private async void OnClickButton()
    {
        await JS.InvokeAsync<string>("onClickButton");
    }
} 