.accordion-body {
    font-family: Arial;
    margin-top: 2%;
    margin-left: 10%;
    padding: 0;
    width: 80%;
    background-color: #f7f7f7;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
    transition: background-color 0.5s ease;
}

.PanelFlex {
    width: 100%;
    margin-top: 0.5%;
    max-height: auto;
    overflow: hidden;
    transition: max-height 0.5s ease;
    transition: background-color 0.5s ease;
    transition: border-color 1s ease;
}

.TourHeading {
    color: #30b0e3;
    font-weight: bold;
}

.AccordionContent {
    margin-right: -3em;
    text-align: left;
    margin-top: -1%;
}

.AccordionButton {
    height: 80%;
    width: 75%;
    margin-top: 0.7%;
    background-color: transparent;
    margin-left: 7%;
    border-color: transparent;
    transition: background-color 0.5s ease;
}

    .AccordionButton:hover {
        border-color: #30b0e3;
        border-width: 2px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

.TourDetails {
    float: right;
    margin-top: 3%;
    margin-right: 4.5%;
    width: 11%;
    background-color: #30b0e3;
    color: white;
    border-color: royalblue;
    border-width: 1px;
    border-radius: 5px;
}

.PanelFlex {
    display: flex;
}

.PanelContent {
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    margin: 1vw 1vw 0.5vw 1vw;
}

.SearchParms{
    font-family: Arial;
    display: flex;
}

.SearchBox {
    overflow: hidden;
    width: 15%;
    margin-left: 34.5%;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}

.SeachTextBox {
    font-size: 14px;
    width: auto;
    border-collapse: collapse;
    border-color: transparent;
}

    .SeachTextBox:focus {
        font-size: 14px;
        outline: none;
    }

.ActivityBox {
    margin-left: 1%;
    overflow: hidden;
    width: 15%;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}

.ComboTournies {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    border-color: transparent;
}

    .ComboTournies:focus {
        font-size: 14px;
        outline: none;
    }

.SelectCombo {
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
}

    .SelectCombo:hover {
        background-color: #30b0e3;
        color: white;
    }

.SearchButton {
    margin-top: 1%;
    text-align: center;
    width: 15%;
    margin-left: 42.5%;
    overflow: hidden;
    background-color: #30b0e3;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: royalblue;
}