.FormBody {
    position: relative;
    margin: 5vh auto;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    width: 80%;
    border-radius: 50px;
}

#IndexH1 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline #30b0e3;
    padding-top: 5vh;
}

@media only screen and (max-width: 768px) {
    .Input1 {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .FormBody {
        width: 90%;
        left: 5%;
    }
    #SubmitTournament {
        width: 90%;
        justify-content: center;
    }
}

.FlexBody {
    padding-top: 3%;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .Input1 {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .FlexBody {
        display: block;
    }
    #SubmitTournament {
        width: 90%;
        justify-content: center;
    }
}

.InputLabels1 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    width: 80%;
    padding-left: 25%;
}

.InputLabels2 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    width: 80%;
    padding-left: 10%;
}

.TypeCombo {
    width: 80%;
    margin-left: 15%;
    padding: 12.2px;
}

.DurationCombo {
    width: 80%;
    margin-left: 5%;
    padding: 12.2px;
}

.DateBoxes{
    border-color: lightgrey;
    border-width: 1px;
}

.Input1 {
    width: 80%;
    margin-left: 15%;
}

.Input2 {
    width: 80%;
    margin-left: 5%;
}

input[type="text"], input[type="datetime"], select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.PushTournament {
    background-color: #30b0e3;
    border: none;
    color: white;
    padding: 10px 16px;
    width: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 4.5%;
}

.PushCategory {
    background-color: #30b0e3;
    border: none;
    color: white;
    padding: 10px 16px;
    width: 30.75%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 34.5%;
}

#CategoriesInput{
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .Input1 {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .PushCategory {
        width: 80%;
        justify-content: center;
        margin-top: 20px;
    }
    #SubmitTournament {
        width: 90%;
        justify-content: center;
    }
}

.Flex1 {
    width: 85%;
}

.Flex2 {
    width: 85%;
}

@media only screen and (max-width: 768px) {
    .Input1 {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .Flex1, .Flex2 {
        width: 100%;
    }
    #SubmitTournament {
        width: 90%;
        justify-content: center;
    }
}

.InputCategory2 {
    width: 85%;
    margin-left: 7.5%;
}

@media only screen and (max-width: 768px) {
    .PushCategory{
        margin-top: 0;
        margin-left: 10%;
    }
    .InputLabels1 {
        margin-right: 5%;
    }
    #TournamentLocation{
        padding-top: 8%;
    }
    .Input1 {
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }
    .Input2 {
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }
    .TypeCombo {
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }
    .InputCategory2 {
        width: 80%;
        justify-content: center;
    }
    #SubmitTournament {
        margin-top: 10%;
        width: 90%;
        justify-content: center;
    }
}

.CategoryDiv {
    padding-bottom: 3%;
}

#SubmitTournament {
    width: 75%;
    margin-top: 2%;
    margin-left: 12.5%;
    font-size: 20px;
}

#EndDate {
    background-color: #f4f4f4;
}

#CategoriesLabel{
    margin-top: 0;
    margin-left: 5%;
}

.CategoriesFlexBody {
    padding-top: 3%;
    display: flex;
    margin-bottom: 3%;
}

.CategoryNameDiv1 {
    font-size: 18px;
    display: inline-block;
    width: 150px;
    font-weight: bold;
    position: relative;
    left: 40%;
}

.CategoryNameDiv2 {
    font-size: 18px;
    display: inline-block;
    width: 150px;
    font-weight: bold;
    position: relative;
    left: 40%;
}

.categoryCheckBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #999;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 30%;
    margin-bottom: 1%;
}

    .categoryCheckBox:checked {
        background-color: #2196f3;
        color: #30b0e3;
        border-color: #2196f3;
    }

.categoryInput {
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 3px 5px;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
}

    .categoryInput:hover {
        border-color: #2196f3;
        color: #30b0e3;
    }

    .categoryInput:focus {
        color: #30b0e3;
        outline: none;
        border-color: #2196f3;
        box-shadow: 0px 0px 5px 0px #2196f3;
    }

.SelectCategoriesHeading {
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    text-decoration: underline #30b0e3;
}

.CategoriesAddedHeading {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline #30b0e3;
}

.CategoryNameAdded {
    font-size: 20px;
    display: inline-block;
    visibility: visible;
}

.CategoryRemove {
    visibility: visible;
    background-color: #30b0e3;
    border: none;
    color: white;
    padding: 2px 5px;
    width: 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 1%;
    margin-left: 2%;
}