@page "/CreateTournement"

<body>
    <form>
        <div class="FormBody">
            <div class="FlexBody">
                <br />
                <div class="Flex1">
                    <label class="InputLabels1" id="TournamentName">Tournament Name</label>
                    <input name="TournamentName" class="Input1" type="text" placeholder="SA Championships" @bind="Tname" />

                    <br />

                    <label class="InputLabels1" id="StreetName">Address</label>
                    <input name="StreetName" class="Input1" type="text" placeholder="Sunny Road 21" @bind="Taddress" />

                    <br />

                    <label class="InputLabels1" id="TournamentStartDate">Tournament Start Date</label>
                    <input name="TournamentStartDate" class="Input1" type="date" @bind="TournamentStartDate" />

                    <br />

                </div>

                <div class="Flex2">
                    <label class="InputLabels2" id="TournamentLocation">Tournament Location</label>
                    <input name="TournamentLocation" class="Input2" type="text" placeholder="Kroonstad" />

                    <br />

                    <label class="InputLabels2" id="TournamentLocation">Tournament Type</label>
                    <select name="TypeCombo" id="TournamentType" class="TypeCombo" @onselectionchange="SelectTournamentType">
                        <option value="Day">Day</option>
                        <option value="League">League</option>
                        <option value="Week">Week</option>
                    </select>

                    <br />

                    <label class="InputLabels2" id="TournamentEndDate">Tournament End Date</label>
                    <input name="TournamentEndDate" class="Input2" type="date" @bind="TournamentEndDate" />

                    <br />
                </div>
            </div>

            <div class="CategoryDiv">
                <label class="InputLabels2" id="Categories">Categories</label>
                <input name="Categories" class="InputCategory2" type="text" placeholder="Kopersbond" />

                <input class="PushCategory" value="Push Category" type="submit" @onclick="btnPushCategory" />
            </div>

            <br />
        </div>
    </form>
</body>

@code {
    string Tname;
    string Taddress;
    DateTime TStartDate;
    DateTime TEndDate;
    string Tlocation;
    string Ttype;
    List<string> Tcategories = new List<string>();

    //private void ChangeStartDate()
    //{
    //    GetEndDate(TEndDate);
    //}
    public DateTime TournamentStartDate { get; set; }
    //public DateTime TournamentEndDate { get { return TournamentStartDate.AddDays(7); } }

    private DateTime tournamentEndDate;

    public DateTime TournamentEndDate
    {
        get { return tournamentEndDate; }
        set { tournamentEndDate = TStartDate.AddDays(7); }
    }


    private void SelectTournamentType()
    {
        switch (Ttype.ToLower())
        {
            case "day":
                TEndDate = TStartDate;
                break;
            case "league":
                TEndDate = TStartDate.AddDays(21);
                break;
            case "week":
                TEndDate = TStartDate.AddDays(5);
                break;
        }
    }

    private void btnPushCategory()
    {

    }
}