#AddScoresHeading {
    text-align: center;
    font-weight: bold;
    text-decoration: underline #30b0e3;
    padding-bottom: 1%;
    padding-top: 1%;
}

.FormBody {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    width: 80%;
    border-radius: 50px;
}

.FromCard {
    position: relative;
    margin: 5vh auto;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    width: 80%;
    border-radius: 50px;
    overflow: hidden;
}

.InputLabels {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    width: 80%;
}

.FlexHouseInputs {
    padding-top: 3%;
    display: flex;
}

.Flex1 {
    width: 45%;
    margin-left: 10%;
}

.Flex2 {
    width: 45%;
    margin-right: 10%;
}

.TeamNameInputs {
    padding-bottom: 1%;
}

.PushTeamButton {
    background-color: #30b0e3;
    border-width: 0.1px;
    color: white;
    width: 25%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 4%;
    display: inline-block;
    border-color: royalblue;
}

.Exstension {
    width: 100%;
    height: auto;
}

.TeamCategories {
    width: 50%;
    display: inline-block;
}

#CategoryLabel {
    display: block;
}

.FlexHouseTables {
    padding-top: 2%;
    display: flex;
    padding-bottom: 2%;
}

.Tables {
    border: solid black;
    width: 100%;
    margin-left: 10%;
}

.TableHeading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.TableContent {
    text-align: center;
    border-bottom: 1px solid black;
}

.InnerOne {
    width: 45%;
    margin-right: 2%;
}

.InnerTwo {
    width: 45%;
}

.InnerFinal {
    width: 90%;
}

.FinalTable {
    border: solid black;
    width: 100%;
    margin-left: 6%;
}

.TableContainer {
    padding-bottom: 3%;
}