@page "/Login"

<body>
    <div class="container">
        <div class="Loginform">
            <div class="LoginHeading">
                <h1>Welcome to the Jukskei Experience</h1>
            </div>
            <div>
                <label>Email</label>
                <input type="text" />
                <br />
                <label>Password</label>
                <input type="password" />

                <button type="submit" class="SubmitButtons">Login</button>

                <button type="submit" class="SubmitButtons">Register</button>
            </div>
        </div>

        <img src="/Photos/JukskeiLogin.jpg" />
    </div>
</body>