@inject NavigationManager navigationManager

<header>
    <img src="/Photos/GenisisPhoto.jpg" id="GenisisImg"/>

    <div class="NavItems">
        <nav>
            <div class="nav-item px-3" id="NavItem1">
                <a class="nav-link" @onclick="() => NavigateHome()">Home</a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" @onclick="() => NavigateLogin()">Login</a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" @onclick="() => NavigateCreateTournament()">Create Tournament</a>
            </div>
        </nav>
    </div>
</header>

@code{
    private void NavigateHome()
    {
        navigationManager.NavigateTo("/");
    }

    private void NavigateLogin()
    {
        navigationManager.NavigateTo("/Login");
    }

    private void NavigateCreateTournament()
    {
        navigationManager.NavigateTo("/CreateTournement");
    }
}