/* _content/JukskeiGenesis/Shared/MainLayout.razor.rz.scp.css */
.page[b-5d7wnptdl5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5d7wnptdl5] {
    flex: 1;
}

.top-row[b-5d7wnptdl5] {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px lightgray;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5d7wnptdl5]  a, .top-row .btn-link[b-5d7wnptdl5] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-5d7wnptdl5] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5d7wnptdl5] {
        display: none;
    }

    .top-row.auth[b-5d7wnptdl5] {
        justify-content: space-between;
    }

    .top-row a[b-5d7wnptdl5], .top-row .btn-link[b-5d7wnptdl5] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5d7wnptdl5] {
        flex-direction: row;
    }

    .sidebar[b-5d7wnptdl5] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5d7wnptdl5] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-5d7wnptdl5], article[b-5d7wnptdl5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#TopNav[b-5d7wnptdl5] {
    background-color: #f4f4f4;
    box-shadow: 0px 7px 10px lightgrey;
    height: 8%;
    width: 100%;
}

#JukskeiHeader[b-5d7wnptdl5] {
    padding: 10px
}
/* _content/JukskeiGenesis/Shared/NewFontEnd/AccordionComponent.razor.rz.scp.css */
.accordion-body[b-21ylrosbcz] {
    font-family: Arial;
    margin-top: 2%;
    margin-left: 10%;
    padding: 0;
    width: 80%;
    background-color: #f7f7f7;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
    transition: background-color 0.5s ease;
}

.PanelFlex[b-21ylrosbcz] {
    width: 100%;
    margin-top: 0.5%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    transition: background-color 0.5s ease;
    transition: border-color 1s ease;
}

.TourHeading[b-21ylrosbcz] {
    color: #30b0e3;
    font-weight: bold;
}

.AccordionContent[b-21ylrosbcz] {
    margin-right: -3em;
    text-align: left;
    margin-top: -1%;
}

.AccordionButton[b-21ylrosbcz] {
    height: 80%;
    width: 75%;
    margin-top: 0.7%;
    background-color: transparent;
    margin-left: 7%;
    border-color: transparent;
    transition: background-color 0.5s ease;
}

    .AccordionButton:hover[b-21ylrosbcz] {
        border-color: #30b0e3;
        border-width: 2px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

.TourDetails[b-21ylrosbcz] {
    float: right;
    margin-top: 3%;
    margin-right: 4.5%;
    width: 11%;
    background-color: #30b0e3;
    color: white;
    border-color: royalblue;
    border-width: 1px;
    border-radius: 5px;
}

.PanelFlex[b-21ylrosbcz] {
    display: flex;
}

.PanelContent[b-21ylrosbcz] {
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    margin: 1vw 1vw 0.5vw 1vw;
}

.SearchParms[b-21ylrosbcz]{
    font-family: Arial;
    display: flex;
}

.SearchBox[b-21ylrosbcz] {
    overflow: hidden;
    width: 15%;
    margin-left: 34.5%;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}

.SeachTextBox[b-21ylrosbcz] {
    font-size: 14px;
    width: auto;
    border-collapse: collapse;
    border-color: transparent;
}

    .SeachTextBox:focus[b-21ylrosbcz] {
        font-size: 14px;
        outline: none;
    }

.ActivityBox[b-21ylrosbcz] {
    margin-left: 1%;
    overflow: hidden;
    width: 15%;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}

.ComboTournies[b-21ylrosbcz] {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    border-color: transparent;
}

    .ComboTournies:focus[b-21ylrosbcz] {
        font-size: 14px;
        outline: none;
    }

.SelectCombo[b-21ylrosbcz] {
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
}

    .SelectCombo:hover[b-21ylrosbcz] {
        background-color: #30b0e3;
        color: white;
    }

.SearchButton[b-21ylrosbcz] {
    margin-top: 1%;
    text-align: center;
    width: 15%;
    margin-left: 42.5%;
    overflow: hidden;
    background-color: #30b0e3;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: royalblue;
}
/* _content/JukskeiGenesis/Shared/NewFontEnd/CreateTournament.razor.rz.scp.css */
.FormBody[b-f125tma3dt] {
    position: relative;
    margin: 15vh auto;
    box-shadow: 10px 10px 35px rgba(128, 128, 128, 0.5);
    width: 80%;
    border-radius: 50px;
}

@media only screen and (max-width: 768px) {
    .Input1[b-f125tma3dt] {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .FormBody[b-f125tma3dt] {
        width: 90%;
        left: 5%;
    }
    #SubmitTournament[b-f125tma3dt] {
        width: 90%;
        justify-content: center;
    }
}

.FlexBody[b-f125tma3dt] {
    padding-top: 6%;
    display: flex;
    margin-bottom: 3%;
}

@media only screen and (max-width: 768px) {
    .Input1[b-f125tma3dt] {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .FlexBody[b-f125tma3dt] {
        display: block;
    }
    #SubmitTournament[b-f125tma3dt] {
        width: 90%;
        justify-content: center;
    }
}

.InputLabels1[b-f125tma3dt] {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    width: 80%;
    padding-left: 25%;
}

.InputLabels2[b-f125tma3dt] {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    width: 80%;
    padding-left: 10%;
}

.TypeCombo[b-f125tma3dt] {
    width: 80%;
    margin-left: 5%;
    padding: 12.2px;
}

.Input1[b-f125tma3dt] {
    width: 80%;
    margin-left: 15%;
}

.Input2[b-f125tma3dt] {
    width: 80%;
    margin-left: 5%;
}

input[type="text"][b-f125tma3dt], input[type="datetime"][b-f125tma3dt], select[b-f125tma3dt] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.PushCategory[b-f125tma3dt] {
    background-color: #30b0e3;
    border: none;
    color: white;
    padding: 10px 16px;
    width: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 4.5%;
}

@media only screen and (max-width: 768px) {
    .Input1[b-f125tma3dt] {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .PushCategory[b-f125tma3dt] {
        width: 80%;
        justify-content: center;
        margin-top: 20px;
    }
    #SubmitTournament[b-f125tma3dt] {
        width: 90%;
        justify-content: center;
    }
}

.Flex1[b-f125tma3dt] {
    width: 85%;
}

.Flex2[b-f125tma3dt] {
    width: 85%;
}

@media only screen and (max-width: 768px) {
    .Input1[b-f125tma3dt] {
        margin: 0;
        width: 80%;
        justify-content: center;
    }
    .Flex1[b-f125tma3dt], .Flex2[b-f125tma3dt] {
        width: 100%;
    }
    #SubmitTournament[b-f125tma3dt] {
        width: 90%;
        justify-content: center;
    }
}

.InputCategory2[b-f125tma3dt] {
    width: 65%;
    margin-left: 7.5%;
}

@media only screen and (max-width: 768px) {
    .PushCategory[b-f125tma3dt]{
        margin-top: 0;
        margin-left: 10%;
    }
    .InputLabels1[b-f125tma3dt] {
        margin-right: 5%;
    }
    #TournamentLocation[b-f125tma3dt]{
        padding-top: 8%;
    }
    .Input1[b-f125tma3dt] {
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }
    .Input2[b-f125tma3dt] {
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }
    .TypeCombo[b-f125tma3dt] {
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }
    .InputCategory2[b-f125tma3dt] {
        width: 80%;
        justify-content: center;
    }
    #SubmitTournament[b-f125tma3dt] {
        margin-top: 10%;
        width: 90%;
        justify-content: center;
    }
}

.CategoryDiv[b-f125tma3dt] {
    padding-bottom: 3%;
}

#SubmitTournament[b-f125tma3dt] {
    width: 75%;
    margin-top: 2%;
    margin-left: 12.5%;
    font-size: 20px;
}
/* _content/JukskeiGenesis/Shared/NewFontEnd/Login.razor.rz.scp.css */
.content[b-1lpdv3nc53] {
    background-color: #f4f4f4;
}

.container[b-1lpdv3nc53] {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    background-color: white;
}

.Loginform[b-1lpdv3nc53] {
    margin-top: 15%;
    height: 65%;
    width: 80%;
}

.LoginHeading h1[b-1lpdv3nc53] {
    font-size: 40px;
    text-align: center;
    text-decoration: underline 2px #30b0e3;
    padding-bottom: 2%;
}

label[b-1lpdv3nc53] {
    display: block;
    font-size: 16px;
    text-align: center;
    font-size: 24px;
    border-width: 1.5px;
}

input[b-1lpdv3nc53] {
    border-color: transparent;
    border-bottom-color: #30b0e3;
    border-width: 1.5px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 2%;
    padding: 1%;
    outline: none;
}

    input:focus[b-1lpdv3nc53] {
        border-bottom-color: #30b0e3;
        border-width: 1.5px;
    }

.SubmitButtons[b-1lpdv3nc53] {
    display: block;
    background-color: transparent;
    border-color: #30b0e3;
    border-width: 1px;
    margin-left: 25%;
    margin-top: 6%;
    padding: 1%;
    width: 50%;
    border-radius: 50px;
}

img[b-1lpdv3nc53] {

    padding: 0;
    height: 65%;
    width: 42%;
}
/* _content/JukskeiGenesis/Shared/NewFontEnd/NavComponent.razor.rz.scp.css */
#GenisisImg[b-031hkwxagc]{
    width: 10%;
    height: 10%;
}

header[b-031hkwxagc] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#JukskeiHeader[b-031hkwxagc] {
    margin: 0;
}

.NavItems[b-031hkwxagc] {
    display: flex;
}

    .NavItems nav[b-031hkwxagc] {
        display: flex;
        justify-content: flex-end;
    }

.nav-item[b-031hkwxagc] {
    margin: 0;
}

nav[b-031hkwxagc] {
    display: flex;
    align-items: center;
}

.nav-item[b-031hkwxagc] {
    margin: 0 10px;
}

.nav-link[b-031hkwxagc] {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

    .nav-link:hover[b-031hkwxagc] {
        border-width: 1px;
        border-bottom-color: #30b0e3;
        cursor: pointer;
    }
/* _content/JukskeiGenesis/Shared/NewFontEnd/RosterComponent.razor.rz.scp.css */
table[b-i0gi9k9994] {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

th[b-i0gi9k9994], td[b-i0gi9k9994] {
    text-align: center;
    padding: 0.5em;
    border: 1px solid black;
}

th[b-i0gi9k9994] {
    background-color: #f2f2f2;
    font-weight: bold;
}

td[b-i0gi9k9994] {
    font-weight: normal;
}
